doctype html
html(lang="pt-br")
	head
		title WordClock
		link(rel="stylesheet" href="app.min.css" type="text/css")
    	script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js")
    	script(type="text/javascript" src="app.min.js")
	body
		h1 WordClock
		p by&nbsp;
			a(href="https://github.com/silvalexandre/rclock") Alexandre Silva
		main
			span#um.primary uma
			span h
			span#tres.primary trê
			span#s1.primary s
			span#sete.primary ete
			span#quatro.primary quatr
			span#o1.primary o
			span#oito.primary ito
			span h
			span#dez.primary dez
			span x
			span#cinco.primary cinc
			span#o2.primary o
			span#onze.primary nze
			span#dois.primary dua
			span#s2 s
			span#seis.primary eis
			span b
			span#nove.primary nove
			span#meia.primary meia
			span w
			span#hora hora
			span#s3 s
			span lxeg
			span#meio.primary meio
			span alexandrelgl
			span silvas
			span#e1 e
			span luz
			span#dia.primary dia
			span capasd
			span#noite.primary noite
			span r
			span#m_onze.primary onze
			span ca
			span#m_doze.primary doze
			span k
			span#m_treze.primary treze
			span jr
			span#m_catorze.primary catorze
			span kfda
			span#m_quinze.primary quinze
			span mluy
			span#m_dezesseis.primary dezesseis
			span jc
			span#m_dezessete.primary dezessete
			span z
			span#m_dezoito.primary dezoito
			span#m_dezenove.primary dezenove
			span mar
			span#m_vinte.primary vinte
			span js
			span#m_trinta.primary trinta
			span k
			span#m_quarenta.primary quarenta
			span#m_cinquenta.primary cinquenta
			span lua
			span#e2 e
			span h
			span#m_um.primary um
			span oi
			span#m_tres.primary trê
			span#s4.primary s
			span#m_seis.primary eis
			span#m_quatro.primary quatro
			span scss
			span#m_cinco.primary cinc
			span#o3.primary o
			span#m_oito.primary ito
			span saudade
			span#m_dois.primary doi
			span#s5.primary s
			span#m_sete.primary ete
			span luz
			span#m_nove.primary nove
			span asd
			span#m_dez.primary dez
			span saúde
			span amor
			span#minuto minuto
			span#s6 s
			span objetivos
			span#da da
			span sol
			span pug
			span#da_manha manhã
			span gol
			span#da_noite noite
			span as
			span#da_tarde tarde
			span hy